.wrapper {
    width: var(--sidebar-width);
    background-color: var(--primary-color);
    padding: 8px var(--side-padding);
    
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 200;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    flex: 1;
    padding-top: 4px;

    .welcome {
        font-size: 1rem;
        font-weight: 300;
    }
}
.nav {
    flex: 1;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column; 
}

.setting {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.navBtn {
    text-decoration: none;
    padding: 4px 0;
    display: block;
    color: var(--text-color);
    font-weight: 300;

    &:hover {
        color: var(--primary-text-color)
    }
}

.arrowBtn {
    color: rgb(98, 98, 98);

    &:hover {
        color: var(--primary-text-color)
    }
}

.logo {
    font-size: 3rem;
    text-decoration: none;
    display: block;
    color: var(--text-color);

    &:hover {
        color: var(--primary-text-color)
    }
}

.active {
    font-weight: 700;
}

.logoutBtn {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    
    &:hover {
        font-weight: 400;
        color: rgb(149, 0, 0);
    }
}