.wrapper {
    height: var(--header-height);
    background-color: var(--background-color);
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--primary-text-color)
}

.navBtn {
    font-family: "Playfair Display", serif;
    text-decoration: none;
    padding: 4px 0;
    display: block;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 700;
    user-select: none;

    &:hover {
        color: var(--primary-text-color)
    }
}

.icon {
    margin-right: 6px;
    font-size: 1.8rem;
}