.wrapper {
    background-color: var(--background-color);
    height: 100vh;
}

.header {
    height: var(--header-height);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 24px;
}

.title {
    font-family: "Playfair Display", serif;
    margin-bottom: calc(var(--header-height)/2 + 16px);
    user-select: none;
}

.navBtn {
    font-family: "Playfair Display", serif;
    text-decoration: none;
    padding: 4px 0;
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-text-color);
    user-select: none;
}

.icon {
    margin-right: 6px;
    font-size: 1.8rem;
}

.LoginRegister {
    display: flex;
}

.content {
    margin: 40px 120px;
    min-width: 400;
    height: 81vh;
    font-size: 1rem;
    font-weight: 200;
}

.LoginRegisterBtn {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: var(--primary-text-color);
    font-size: 1.3rem;
}