// Category 

.categoryTitle {
    display: flex;
    justify-content: space-between;
}

.userCategory {
    margin: 20px;
    background-color: white;
    width: 1000px;
    padding: 20px 40px;
    border-radius: 4px;
}

.categoryForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 8px;

    .categoryFormHeader {
        font-size: 1.2rem;
        font-weight: 200;
    }
}

.categoryForm {
    display: flex;
    align-items: center;
}

.categoryInput {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 12px;
}

.categoryTypeInput {
    width: 200px;
    margin: 0;
}

.categoryButton {
    font-size: 1rem;
    padding: 8px;
}

.categoryBtn {
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    color: #777;
    margin-left: 12px;
    cursor: pointer;
}

.confirmIcon {
    color: var(--color-green);
    font-size: 1.8rem;
}

.closeIcon {
    color: var(--color-red);
    font-size: 1.8rem;
}

.categoryItem {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    align-items: center;
    width: 100%;
    height: 50px;
    border-top: 1px solid rgba(0,0,0,0.2);
    // cursor: pointer;

    // &:hover {
    //     background-color: rgba(0,0,0,0.02);
    // }

    &:last-child {
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    
    .tableColumn1,
    .tableColumn2,
    .tableColumn3 {
        display: flex;
        align-items: center;
    }

    .tableColumn3 {
        justify-content: end;
    }

    .categoryIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        gap: 12px;
        height: 100%;
        margin-right: 20px;
    }

    .categoryName {
        font-size: 1rem;
        font-weight: 500;
    }

    .categoryInfo {
        font-size: 1rem;
        color: grey;
    }

    .formIconInput {
        margin: 0;
        height: 100%;
    }

    .formNameInput {
        font-size: 1rem;
        width: 250px;
        border: 1px solid #ccc;    
        height: 100%; 
    }

    .formTypeInput {
        font-size: 1rem;
        width: 200px;   
        height: 100%; 
    }

    .categoryButtonContainer {
        display: flex;
        justify-content: end;
        align-items: center;    
        height: 100%; 
    }
}

.categoryNameInput {
    width: 300px;
}


.lastIncome {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.lastExpense {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.categoryHeader {
    font-size: 1.4rem;
    padding: 12px 0;
    font-weight: 200;
}

// Color

.primaryGreen {
    color: var(--color-green);
}

.primaryRed {
    color: var(--color-red);
}

.green {
    color: var(--background-green);
}

.red {
    color: var(--background-red);
}

.blue {
    color: var(--background-blue);
}

.yellow {
    color: var(--background-yellow);
}

.orange {
    color: var(--background-orange);
}

.purple {
    color: var(--background-purple);
}

.rainbow {
    color: var(--background-rainbow);
}
