.container {
    min-height: calc(var(--content-min-height) - 2*var(--side-padding));
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    gap: 8px;
}

.title {
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 1;
}

.text {
    font-size: 1.4rem;
    font-weight: 200;
}

.divider {
    height: 1px;
    background-color: grey;
    margin: 24px 0;
}

// Table
.infoTable {
    margin: 2rem 0;
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2rem;
}

.infoTable td {
    padding: 1rem;
}

.label {
    font-weight: bold;
    color: #333;
    width: 150px;
}

.info {
    color: #555;
}

.date {
    font-size: 1.2rem;
    font-style: italic;
    color: #777;
    width: 100%;
    text-align: center;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userProfile {
    background-color: white;
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 4px;
    width: 1000px;
}

.greeting {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 200;
}