.container {
    min-height: calc(var(--content-min-height) - 2*var(--side-padding));
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    gap: 8px;
}

.title {
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 1;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center everything horizontally */

    .bodyHeader {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}


.text {
    font-size: 1.4rem;
    font-weight: 200;
}

.divider {
    height: 1px;
    background-color: grey;
    margin: 24px 0;
}

// Table
.infoTable {
    margin: 2rem 0;
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2rem;
}

.infoTable td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.label {
    font-weight: bold;
    color: #333;
    width: 150px;
}

.info {
    color: #555;
}

.date {
    font-size: 1.2rem;
    font-style: italic;
    color: #777;
    width: 100%;
    text-align: right;
}

// Category 
.userCategory,
.userProfile {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    width: 1000px;
}

.userCategory {
    margin-top: 20px;
}

.categoryHeader {
    font-size: 1.2rem;
    font-weight: 200;
}

.categoryForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    .categoryFormHeader {
        font-size: 1.2rem;
        font-weight: 200;
    }
}

.categoryForm {
    display: flex;
    align-items: center;
}

.categoryInput {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 12px;
}

.categoryNameInput {
    width: 240px;
    font-size: 1rem;
    border: 1px solid black;
    height: 2rem;
    padding-left: 8px;
    opacity: 1;
}

.categoryTypeInput {
    width: 200px;
    margin: 0;

}
