.formInput {
    font-size: 1.2rem;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid var(--pale-color);
    user-select: none;
    margin-bottom: 16px;
    cursor: pointer;
 
    &:focus {
        border: none;
        outline: none;
        border-bottom: 3px solid var(--primary-text-color);
    }
}

.formInputAmountContainer {
    display: flex;
}

.formInputAmount {
    font-size: 1.6rem;
    width: 100%;
    height: 3rem;
    border: none;
    border-bottom: 1px solid var(--pale-color);
    user-select: none;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    
    
    .formAmountInput {
        margin-left: 6px;
        height: 100%;
        font-size: 2rem;
        width: 100%;
        border: none;

        &:focus {
            border: none;
            outline: none;
        }
    }
}

.formInputSelect {
    font-size: 1rem;
    color: rgb(66, 66, 66);
}

.formDateInput,
.formInputOptions {
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: ellipsis; 
    width: 100%;
    margin-bottom: 12px;
    margin-top: 8px;
    font-size: 1rem;
    height: 2rem;
    padding: 0 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    appearance: none; 
    
    .formInputChildren {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        font-size: 1rem;
        border: none;
        outline: none;
        appearance: none; 
    }

}   

.arrowIcon {
    font-size: 1.4rem;
    margin-right: 4px;
}

// Wallet Dropdown
.dropdownContainer {
    position: relative;
}

.dropdownList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    font-size: 1rem;
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.dropdownItem {
    padding: 8px;
    cursor: pointer;

    &.active {
        background-color: #f0f0f0; // Highlighted background
    }
}

.checkboxLabel {
    display: flex;
    align-items: center;
    padding: 8px;
}

.checkboxLabel input[type="checkbox"] {
    margin-right: 8px;
}

.noteInputContainer {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
    display: flex;
    font-size: 1rem;
    line-height: 2rem;
    background: none;

    .formInputNote {
        height: 100%;
        width: 100%;
        border: none;
        background: transparent;
        font: inherit;
        box-sizing: border-box;
        resize: none;
        margin: 0;
        padding: 0;
        outline: none;

        &:focus {
            outline: none;
        }
    }

    .charCounter {
        position: absolute;
        bottom: 4px;
        right: 4px;
        font-size: 0.8rem;
        color: #888;
    }
}

.imageUploadContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    height: 2.4rem;

    .formInputImage {
        display: none;
    }
    
    .uploadImage {
        font-size: 1rem;
        cursor: pointer;
    }
    
    .imagePreview {
        width: 2rem;
        height: 2rem;
        border-radius: 4px;
        object-fit: cover; 
    }
}

.formIconInput {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.formIconInput {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.iconSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 50%;
    font-size: 2rem;
}

.iconDropdown {
    position: absolute;
    top: 40px;
    right: -60px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 300px;
    max-height: 220px;
    overflow-y: auto; 
    padding: 10px; 
}

.selectedElement {
    display: flex;
    align-items: center;
    gap: 8px;
}

.selectedElements {
    display: inline-block;
    align-items: center;
    gap: 8px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
}

.iconItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Ensure uniform size */
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s;
    gap: 8px;
    font-size: 1.8rem;

    &:hover {
        background-color: #f0f0f0;
    }
}


/* Updated for the correct class names and dropdown layout */
.formColorSelectionInput {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.formIcon {
    width: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid grey;

    & svg {
        width: 100%;
        height: 100%;
    }
}

.colorSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    font-size: 1.3rem;
    border-radius: 50%;
    border: 1px solid grey;
    cursor: pointer;
}

.colorIndicator {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent; /* Default transparent until color is chosen */
}

.colorDropdown {
    position: absolute;
    top: 40px;
    right: -30px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    gap: 16px;
    padding: 8px;
    // flex-direction: row; /* Horizontal layout */
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.colorOption {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.colorOption:hover {
    opacity: 0.8;
}

// Color
.colorOptions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;

    &:focus {
        outline: none;
        padding-bottom: 4px;
        border-bottom: 1px solid grey;
    }

    .circleOption {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        // border: 4px solid transparent;
        transition: border-color 1s;
        cursor: pointer;

        &:hover {
            border: 4px solid grey;
        }

        &.active {
            border: 4px solid grey;
        }
    }
}


.formTextInput {
    font-size: 1.2rem;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 36px;
    background-color: transparent;
}

// Category input
.customDropdown {
    position: relative;
    width: 100%;

    .dropdownHeader {
        height: 36px;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8px;
        cursor: pointer;
    }

    .arrow {
        font-size: 1rem;
        height: 100%;
    }

    .dropdownList {
        position: absolute;
        background: #fff;
        border: 1px solid #ccc;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1000;
    }

    .dropdownItem {
        padding: 8px;
        gap: 8px;
        height: 2.4rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background: #f5f5f5;
        }

        .iconAndName {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .formIcon {
        font-size: 16px;

        &.defaultColor {
            color: #ccc;
        }

        // Add dynamic colors if needed
        &.red {
            color: red;
        }
        &.blue {
            color: blue;
        }
    }
}

// Date input
.formDateInput {
    display: flex;
    justify-content: space-between;

    .dateInput {
        border: none;
        height: 100%;
        width: 100%;
        font-size: 1rem;
        border: none;
    
        &:focus {
            outline: none;
        }
    }
}

:global(.pika-single) {
    transform: translateX(-9px);
}

.hiddenDateInput {
    position: absolute;
    pointer-events: none;
}

.placeholder {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
}

// Background Color
.green {
    background-color: var(--background-green);
}

.red {
    background-color: var(--background-red);
}

.blue {
    background-color: var(--background-blue);
}

.yellow {
    background-color: var(--background-yellow);
}

.orange {
    background-color: var(--background-orange);
}

.purple {
    background-color: var(--background-purple);
}

.rainbow {
    background: var(--background-rainbow);
}

// Text Color
.greenText {
    color: var(--background-green);
}

.redText {
    color: var(--background-red);
}

.blueText {
    color: var(--background-blue);
}

.yellowText {
    color: var(--background-yellow);
}

.orangeText {
    color: var(--background-orange);
}

.purpleText {
    color: var(--background-purple);
}

.rainbowText {
    color: var(--background-rainbow);
}