.wrapper {
    background-color: var(--primary-color);
    height: 100vh;
    padding-top: var(--header-height);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.container {
    background-color: var(--primary-color);
    
}

.icon {
    margin-right: 8px;
    font-size: 2.8rem;
}