.title {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    user-select: none;
}

.formGroup {
    margin-bottom: .2rem;
}

.input {
    font-size: 1rem;
    width: 100%;
    height: 40px;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid var(--primary-text-color);
    user-select: none;
    
    &:focus {
        border: none;
        outline: none;
        border-bottom: 3px solid var(--primary-text-color);
    }
}

.button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.submitButton {
    padding: 8px 24px;
    margin: 1rem;
}

.link {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 0.8rem;
    margin-top: .4rem;
    user-select: none;

    &:first-child {
        margin-top: 1rem;
    }
  
    a {
        margin-left: 4px;
      text-decoration: none;
      color: var(--text-color);
  
      &:hover {
        text-decoration: underline;
        color: var(--primary-text-color);
      }
    }
  }

.message {
    font-size: .8rem;
    font-weight: 400;
    font-style: italic;
}

.success {
    color: rgb(0, 213, 0);
}

.fail {
    color: red;
}