.wrapper {
    display: flex;
    background-color: var(--background-color);
    min-height: 720px;
}

.container {
    width: 100%;
    margin-left: var(--sidebar-width);
}

.content {
    padding: var(--side-padding);
    
}