@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
// Colour
 --primary-color: #B0AB9C;
 --secondary-color: #828282;
 --color-green: #42A168;
 --color-red: #A14242;

 --background-color: #E6E2D8;
    --background-green: #8fe4b2;
    --background-red: #e7a4a4;
    --background-purple: #dfa3e7;
    --background-orange: #e3c082;
    --background-yellow: #d6e28e;
    --background-blue: #85cfee;
    --background-rainbow: linear-gradient(120deg, rgb(168, 240, 255), rgb(69, 255, 255), rgb(243, 188, 255), violet);


 --primary-text-color: #442912;
 --primary-text-color-hover: #442912eb;
 --pale-color: grey;

 --text-color: black;
 --button-color: #28180B;

 --positive-color: #42A168;
 --negative-color: #A14242;

 // Dimension
 --header-height: 60px;
 --content-min-height: calc(100vh - var(--header-height));
 --sidebar-width: 132px;
 --receipt-width: 300px;
 --side-padding: 24px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    user-select: none;
}