.container {
    display: flex;
    width: 100%;
}

.content {
    flex: 1;
    padding: 0 32px;

    .balance {
        display: flex;
        align-items: center;
        font-size: 3rem;
        line-height: 4rem;
        font-weight: 200;
    }
    
    .currency {
        font-size: 2.8rem;
        margin-right: 8px;
    }   
}

// Transaction Form

.hidden {
    display: none;
}

.transactionHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 0;
}

.TransactionBalance {
    font-size: 2rem;
    font-weight: 300;
}

.typeIcon {
    font-size: 1.8rem;
}

.transactionTypeIcon {
    font-size: 2.1rem;
}

.transactionInfo {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid;
    border-bottom: 3px solid;
    padding: 16px 0;

    &.bordergreen {
        border-color: var(--color-green);
    }

    &.borderred {
        border-color: var(--color-red);
    }

    .transactionLabel {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 300;
    }

    .transactionImage {
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        height: 100%;
        width: 50%;
    }
}

.transactionNote {
    height: 100px;
    padding: 12px 0;
}

.transactionActions {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0px;

    .transactionDate {
        color: #777;
        font-weight: 200;
        font-size: 1rem;
    }

    .transactionBtnContainer {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .transactionBtn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #777;
        display: flex;
        align-items: center;
    }
}


