.container {
    width: 100%;
    height: 300px;
    font-weight: 400;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: 1px solid gray;

    .graph {
        width: 100%;
        height: 200px;
        background-color: rgba(54, 254, 174, 0.066);
    }

    .timeLine {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        border-bottom: 3px solid rgba(0,0,0,0.2);

    }
    
    .chartBtnContainer {
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        display: flex;

    }
    
    .chartBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.6rem;
        width: 2.8rem;
        text-align: center;
        font-size: 1rem;
        background-color: rgba(0,0,0,0.1);
        color: var(--primary-text-color);
        border: none;

        &.active {
            background-color: black;
            color: white;
        }

        &:hover {
            background-color: var(--primary-color);
            color: white;
        }
    }

}

// .container {
//     width: 100%;
//     font-weight: 400;
//     margin: 20px 0;

//     .graph {
//         width: 100%;
//         height: 300px; // Increased height for better visibility
//         background-color: rgba(54, 254, 174, 0.066);
//         border-bottom: 3px solid rgba(0, 0, 0, 0.2);
//     }

//     .chartBtnContainer {
//         display: flex;
//         justify-content: space-between;
//         padding: 20px;
//     }

//     .chartBtn {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         height: 1.6rem;
//         width: 3rem;

//         &.active {
//             background-color: black;
//             color: white;
//             border: none;
//         }

//         &:hover {
//             opacity: 0.6;
//             background-color: black;
//             color: white;
//             border: none;
//         }
//     }
// }
