.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.title {
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 1;
}

.info {
    font-size: 1rem;
    font-weight: 300;
}

/* Style for the overlay form */
.formOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.formContainer {
    background: white;
    padding-top: 16px;
    padding-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 360px;
    max-width: 90%;
}

.formDivider {
    height: 1px;
    width: 100%;
    background-color: var(--pale-color);
    // margin-top: 12px;
}

.formNameInput {
    font-size: 1.6rem;
    width: 100%;
    height: 36px;
    padding: 1.2rem;
    border: none;
    
    &:focus {
        border: none;
        outline: none;
    }
}

.formContent {
    padding: 0 28px;
}

.formInput {
    font-size: 1.2rem;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid var(--pale-color);
    user-select: none;
    margin-bottom: 16px;
    cursor: pointer;

    
    &:focus {
        border: none;
        outline: none;
        border-bottom: 3px solid var(--primary-text-color);
    }
}

.formInputSelect {
    font-size: 1rem;
    color: rgb(66, 66, 66);
}

.formLabel {
    font-size: 1rem;
    font-weight: 200;
    margin-top: 12px;
    margin-bottom: 8px;
}

.formBtnContainer {
    display: flex;
    justify-content: center;
}

.colorOptions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.circleOption {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid transparent; /* To show selection when clicked */
    transition: border-color 1s;
}

.circleOption:hover {
    border: 4px solid black;
}

// Wallet Items
.bodyContainer {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
}

.addBudgetCard,
.budgetCard {
    width: 1000px;
    height: 80px;
    padding: 6px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 16px;
    overflow: hidden;

    &:hover {
        opacity: .8;
        border: none;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    }
}

.addBudgetCard {
    border: 4px solid rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
}

.addBudgetCardIcon {
    font-size: 3rem;
    color: rgb(190, 190, 190);
}

.budgetCardContent {  
    display: grid;
    grid-template-columns: 1.2fr .5fr .5fr 1fr; 
    // justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 6px;
    color:rgba(0, 0, 0, 0.7);

    .budgetCardHeader {
        font-size: 2rem;
    }
    
    .budgetCardDay {
        font-size: 1.2rem;
    }

    .budgetCardMoneyLimit {
        text-align: right;
    }
}



.progressBar {
    height: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: width 0.4s ease;
}

// Color
.green {
    background-color: var(--background-green);
}

.red {
    background-color: var(--background-red);
}

.blue {
    background-color: var(--background-blue);
}

.yellow {
    background-color: var(--background-yellow);
}

.orange {
    background-color: var(--background-orange);
}

.purple {
    background-color: var(--background-purple);
}

.rainbow {
    background: var(--background-rainbow);
}