.info {
    font-size: 1rem;
    font-weight: 300;
}

.justifyCenter {
    justify-content: center;

}

.addBudgetCard,
.budgetCard {
    width: 1000px;
    height: 80px;
    padding: 6px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 16px;
    overflow: hidden;

    &:hover {
        border: none;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    }
}

.addBudgetCard {
    border: 4px solid rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
}

.addBudgetCardIcon {
    font-size: 3rem;
    color: rgb(190, 190, 190);
}

.budgetCardContent {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    padding: 6px;
    color:rgba(0, 0, 0, 0.7);

    .budgetCardInfo {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .budgetCardHeader {
        font-size: 2rem;
    }
    
    .budgetCardDay {
        font-size: 1.2rem;
    }

    .budgetCardMoneyLimit {
        display: flex;
        justify-content: right;
        gap: 4px;
    }
}

.finished {
    display: flex;
    opacity: .6;
    &:hover {
        opacity: .9;
    }
}

.finishStatus {
    height: 100%;
    gap: 8px;
    display:  flex;
    align-items: center;

    .finishIcon {
       font-size: 1.4rem; 
    }
}


.progressBar {
    height: 6px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: width 1s ease;
}


.plusIcon {
    font-size: 0.8rem; 
}
