// Color
.green {
    color: var(--background-green);
}

.red {
    color: var(--background-red);
}

.blue {
    color: var(--background-blue);
}

.yellow {
    color: var(--background-yellow);
}

.orange {
    color: var(--background-orange);
}

.purple {
    color: var(--background-purple);
}

.rainbow {
    color: var(--background-rainbow);
}

// form
.hidden {
    display: none;
}

.formOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.formContainer {
    background: white;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    overflow: hidden;
}

.formTitle {
    font-size: 1.2rem;
    padding: 20px 30px;
    padding-bottom: 0;
}

.formBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 40px;
}

.formIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 2rem;

    .formIcon {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .formName {
        font-size: 1rem;
        line-height: 1rem;
        margin-top: 8px;
    }
}

.formArrow {
    font-size: 2.4rem;
    color: #777;
}

.formButtons {
    width: 100%;
    height: 28px;
    border: 1px solid black;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    align-items: center;
    
    .categoryBtn {
        background-color: transparent;
        border: none;
        color: #777;
        cursor: pointer;
    }
}

.confirmIcon {
    font-size: 1.8rem;
    color: var(--color-green);
}

.closeIcon {
    font-size: 1.8rem;
    color: var(--color-red);
}

.trashIcon {
    width: 80px;
    opacity: .6;
}

.budgetIcon {
    font-size: 5rem;
    width: 60px;
    opacity: .9;
}

.walletIcon {
    font-size: 1rem;
    width: 74px;
}

.formDeleteButtons {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    font-size: 1.1rem;
    font-weight: 400;
    justify-content: space-around;
    // border-radius: 20px;

    .deleteButton, .cancelButton {
        padding: 12px;
        text-align: center;
        cursor: pointer;

        span {
            // border: 1px solid black;
            padding: 8px 12px;
        }

        span:hover {
            font-weight: 600;
        }
    }

    .deleteButton {
        color: rgb(220, 10, 10);
    }
}