.wrapper {
    text-align: center;
    color: var(--primary-text-color);
    border: 1px solid black;
    text-decoration: none;
    padding: 12px 0;
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    padding: 4px 12px;
    width: auto;

    &:hover {
        opacity: .8;
    }

    &.disabled {
        pointer-events: none;
        opacity: .4;
    }
}

.rounded {
    border-radius: 100px;
}

.primary {
    background-color: var(--primary-text-color);
    color: white;
    border: none;
}

.black {
    background-color: black;
    color: white;
    border: none;

    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.simple {
    background-color: transparent;
    border: none;
    font-weight: 700;
    color: black;
}

.s {
    background-color: transparent;
    padding: 6px 10px;
    font-size: 1rem;
}

.l {
    padding: 16px 0;
    font-size: 1.4rem;
}

