.wrapper {
    text-align: center;
    color: var(--primary-text-color);
    border: 2px solid rgba(0, 0, 0, 0.6);
    text-decoration: none;
    padding: 12px 0;
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 4px;
    user-select: none;
    padding: 8px 12px;
    width: auto;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }

    &.disabled {
        pointer-events: none;
        opacity: .4;
    }
}

.rounded {
    border-radius: 100px;
}

.primary {
    background-color: var(--primary-text-color);
    color: white;
    border: none;
}

.black {
    background-color: black;
    color: white;
    border: none;

    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.danger {
    color: rgb(220, 10, 10);
    border-color: currentColor;
}

.simple {
    background-color: transparent;
    border: none;
    font-weight: 700;
    color: black;
}

.s {
    background-color: transparent;
    padding: 6px 10px;
    font-size: 1rem;
}

.l {
    padding: 16px 0;
    font-size: 1.4rem;
}

