:root {
    --item-width: 1111px;
    --item-header-height: calc(var(--header-height) * 1.2)
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.title {
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 1;
}

.btnContainer {
    display: flex;
    gap: 12px;
}

.contentInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentHeader {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--item-width);
    color: rgba(0, 0, 0, 0.7);
    height: var(--item-header-height);
}

.contentHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1rem;
    padding: 8px 20px;
    height: var(--item-header-height);
}

.contentName {
    font-size: 2.4rem;
    font-weight: 400;
    // margin: 20px 0;
}

.progressBar {
    height: 6px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: width 0.4s ease;
}

.contentBody {
    width: var(--item-width);
    min-height: 90vh;
    background-color: white;
    font-weight: 200;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.contentAnalysis {
    padding: 4px 28px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.contentTransactions {
    padding: 4px 28px;
}

.contentBalance {
    font-size: 2rem;
    font-weight: 200;
}   

.contentSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    
    &> div:first-child {
        display: flex;
        flex-direction: column;
        gap: 8px
    }
    &> div:last-child {
        text-align: right;
    }
}

.contentPeriod {
    width: 140px;
}

.contentPeriodDate {
    display: flex;
    justify-content: space-between;
}

.contentSummaryHeader {
    font-size: 1rem;
}

.contentSummaryHeaderBold {
    font-size: 1rem;
    font-weight: 500;
    
}

.contentSummaryValue {
    font-weight: 400;
    margin-right: 3px;
}

.contentSummaryUnit {
    font-size: 1rem;

}

.contentSubHeader {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 20px 0;
}

// Color Variants
.green { background-color: var(--background-green); }
.red { background-color: var(--background-red); }
.blue { background-color: var(--background-blue); }
.yellow { background-color: var(--background-yellow); }
.orange { background-color: var(--background-orange); }
.purple { background-color: var(--background-purple); }
.rainbow { background: var(--background-rainbow); }

/* Style for the overlay form */
.formOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.formContainer {
    background: white;
    padding-top: 16px;
    padding-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
}

.formDivider {
    height: 1px;
    width: 100%;
    background-color: var(--pale-color);
    margin-top: 12px;
    margin-bottom: 24px;
}

.formNameInput {
    font-size: 1.6rem;
    width: 100%;
    height: 36px;
    padding: 1.2rem;
    border: none;
    
    &:focus {
        border: none;
        outline: none;
    }
}

.formContent {
    padding: 0 28px;
}

.formInput {
    font-size: 1.4rem;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid var(--pale-color);
    user-select: none;
    margin-bottom: 28px;
    
    &:focus {
        border: none;
        outline: none;
        border-bottom: 3px solid var(--primary-text-color);
    }
}

.formInputSelect {
    font-size: 1rem;
    color: rgb(66, 66, 66);
}

.formLabel {
    font-size: 1rem;
    font-weight: 200;
}

.formBtnContainer {
    display: flex;
    justify-content: center;
}

// Delete form
.deleteMessage {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 4px 24px;
}

.deleteFormBtn {
    margin: 8px 20px;
    padding-top: 24px;
    display: flex;
    gap: 8px;
    justify-content: right;
    
}

