:root {
    --item-width: 1111px;
    --item-header-height: calc(var(--header-height) * 1.2)
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.title {
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 1;
}

.btnContainer {
    display: flex;
    gap: 12px;
}

.contentInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentHeader {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--item-width);
    color: rgba(0, 0, 0, 0.7);
    height: var(--item-header-height);
}

.contentHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1rem;
    padding: 8px 20px;
    height: var(--item-header-height);
}

.contentName {
    font-size: 2.4rem;
    font-weight: 400;
    // margin: 20px 0;
}

.progressBar {
    height: 6px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: width 0.4s ease;
}

.contentBody {
    width: var(--item-width);
    min-height: 90vh;
    background-color: white;
    font-weight: 200;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.contentAnalysis {
    padding: 20px 28px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.contentTransactions {
    padding: 20px 28px;
}

.contentBalance {
    font-size: 2rem;
    font-weight: 200;
}   

.contentSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    
    &> div:first-child {
        display: flex;
        flex-direction: column;
        gap: 8px
    }
    &> div:last-child {
        text-align: right;
    }
}

.contentPeriod {
    width: 140px;
}

.contentPeriodDate {
    display: flex;
    justify-content: space-between;
}

.contentSummaryHeader {
    font-size: 1rem;
}

.contentSummaryHeaderBold {
    font-size: 1rem;
    font-weight: 500;
    
}

.contentSummaryValue {
    font-weight: 400;
    margin-right: 3px;
}

.contentSummaryUnit {
    font-size: 1rem;

}

.contentSubHeader {
    font-size: 1.8rem;
    font-weight: 300;
}

// Color Variants
.green { background-color: var(--background-green); }
.red { background-color: var(--background-red); }
.blue { background-color: var(--background-blue); }
.yellow { background-color: var(--background-yellow); }
.orange { background-color: var(--background-orange); }
.purple { background-color: var(--background-purple); }
.rainbow { background: var(--background-rainbow); }