// Transaction Form
.hidden {
    display: none;
}

.formOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: default;
}

.formContainer {
    background: white;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    padding: 0 20px;
}

.formLabel,
.formLabelNote {
    font-size: 1rem;
    font-weight: 200;
    margin: 8px 0;
}

.formLabelNote {
    margin-bottom: 0;
}

.transactionHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 0;
}

.TransactionBalance {
    font-size: 2rem;
    font-weight: 300;
    
    .balanceInput {
        font-size: 2rem;
        margin: 0;
    }
}

.typeIcon {
    font-size: 1.8rem;
}

.transactionTypeIcon {
    font-size: 2.1rem;
}

.transactionInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid;
    border-bottom: 3px solid;
    padding: 10px 0;
    margin-bottom: 8px;
    
    &.bordergreen {
        border-color: var(--color-green);
    }
    
    &.borderred {
        border-color: var(--color-red);
    }
    
    .transactionCategory {
        flex: 1;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        text-overflow: ellipsis;
        
        .categoryName {
            font-size: 1.6rem;
            line-height: 1.6rem;
            font-weight: 500;
            padding-bottom: 6px;
            padding-left: 6px;

            word-wrap: break-word; 
            overflow-wrap: break-word;
            white-space: normal;
        }
    
        .categoryIcon {
            padding-top: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 74px;
            height: 74px;
            box-sizing: border-box; 
            
            
            & svg {
                box-sizing: border-box; 
                width: 120%;
                height: 120%;
            }
        }
    }


    .transactionImage {
        border-radius: 4px;
        width: 150px;
        height: 150px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
}

.incomeImage {
    width: 100px;
    opacity: .1;
    object-fit: cover;
}

.expenseImage {
    color: black;
    opacity: .1;
    width: 200px;
    object-fit: cover;
}

.transactionNote {
    height: 130px;
    display: flex;
    font-size: 1rem;
    line-height: 2rem;

    background-image: radial-gradient(circle, #ddd 1px, transparent 1px);
    background-size: 4px 2rem;
    background-position: 0 10px;
    background-clip: content-box;

    .noteInput {
        font: inherit;
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background: transparent;
        line-height: inherit;
        max-width: 100%;
        background-image: none;
    }
    
    .noteText {
        word-wrap: break-word;
        overflow-wrap: break-word;
        line-height: inherit;
        max-width: 100%;
        min-height: inherit;
        white-space: pre-wrap;
        overflow: hidden;
    }
}


.transactionActions {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0px;

    .transactionDate {
        color: #777;
        font-weight: 200;
        font-size: 1rem;
    }

    .transactionBtnContainer {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .transactionBtn {
        background-color: transparent;
        border: none;
        color: #777;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

.transactionTypeIcon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionIcon {
    font-size: 1.8rem;
}

// Transaction List
.transactions {
    font-weight: 200;
    max-height: 2400px;
    overflow: hidden;

    .dateDivider {
        font-size: 1.2rem;
        padding: 12px 0;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        gap: 12px;
    }
    
    .transaction {
        font-size: 1.1rem;
        padding: 0px 4px;
        height: 44px;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr .6fr;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        
        &:hover {
            background-color: rgba(0,0,0,0.02);
        }

        .income {
            color: var(--color-green);
            font-size: 1.5rem;
            
        }
        
        .expense {
            color: var(--color-red);
            font-size: 1.5rem;
        }

        .transAmount {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            text-align: left;

        }

        .currency {
            font-size: 1.2rem;
            margin-left: 12px;
            margin-right: 2px;
        }

        .categoryName,
        .categoryIcon {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-align: right;
            font-size: 2rem;
        }

        .categoryName {
            font-size: 1.1rem;
            font-weight: 400;
        }

        .transColumn {
            display: flex;
            align-items: center;
            max-width: 100%;
            overflow: hidden;
            
            .transElement {
                display: flex;
                align-items: center; 
                gap: 8px;
                max-width: 100%; 
                overflow: hidden;
            }
            
            .transIcon {
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            .transText {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 100%;
                flex-grow: 1;
                display: inline-block;
            }
        }
    }
}


// Receipt Form
.addTransaction {
    width: var(--addTransaction-width);
    height: 630px; 
    width: 320px;
    background-color: white;
    border-radius: 2px;
    padding: 24px 32px;
    margin-right: 24px;
    position: sticky;
    top: var(--header-height); 
    z-index: 100;
}

.plusMinusContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;

    .typeButton {
        font-size: 2.8rem;
        cursor: pointer;

        &:hover {
           opacity: .8;
        }
    }
}  

.formLabel {
    font-size: 1rem;
    font-weight: 200;
}

.addTransactionBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;

    .addTransactionSubmit {
        width: 80px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.hover {
            border: 3px solid black;
            box-shadow: 2px -4px 0px black;
            font-weight: 500;
            transform: translate(-2px, 4px);
            transition: transform 0.04s linear; 
        }
    }

}