// Transaction Form
.hidden {
    display: none;
}

.formOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: default;
}

.formContainer {
    background: white;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    padding: 0 20px;
}

.formLabel {
    font-size: 1rem;
    font-weight: 200;
}

.transactionHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 0;
}

.TransactionBalance {
    font-size: 2rem;
    font-weight: 300;
    
    .balanceInput {
        font-size: 2rem;
        margin: 0;
    }
}

.typeIcon {
    font-size: 1.8rem;
}

.transactionTypeIcon {
    font-size: 2.1rem;
}

.transactionInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid;
    border-bottom: 3px solid;
    padding: 16px 0;

    &.bordergreen {
        border-color: var(--color-green);
    }

    &.borderred {
        border-color: var(--color-red);
    }

    .transactionLabelContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .labelInput {
            font-size: 1.2rem;
            margin: 1px 0;
        }

        .transactionLabel {
            font-size: 2rem;
            line-height: 2rem;
            font-weight: 300;
        }
    }


    .transactionImage {
        border-radius: 4px;
        width: 160px;
        height: 160px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
}

.incomeImage {
    width: 111px;
    // width: 211px;
    object-fit: cover;
}

.expenseImage {
    width: 200px;
    object-fit: cover;
}

.transactionNote {
    height: 110px;
    padding: 12px 0;

    .noteInput {
        margin: 0;
        font-size: 1rem;
    }
}

.transactionActions {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0px;

    .transactionDate {
        color: #777;
        font-weight: 200;
        font-size: 1rem;
    }

    .transactionBtnContainer {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .transactionBtn {
        background-color: transparent;
        border: none;
        color: #777;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

.transactionTypeIcon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmIcon {
    font-size: 1.8rem;
    color: var(--color-green);
}

.closeIcon {
    font-size: 1.8rem;
    color: var(--color-red);
}

.green { 
    color: var(--color-green);
}

.red {
    color: var(--color-red);
}

// Transaction List
.transactions {
    font-weight: 200;

    .dateDivider {
        font-size: 1.2rem;
        padding: 12px 0;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        gap: 12px;
    }
    
    .transaction {
        font-size: 1.1rem;
        padding: 0px 4px;
        height: 44px;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr .6fr;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        
        &:hover {
            background-color: rgba(0,0,0,0.02);
        }

        .income {
            color: var(--color-green);
            font-size: 1.5rem;
            
        }
        
        .expense {
            color: var(--color-red);
            font-size: 1.5rem;
        }

        .transAmount {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            text-align: left;

        }

        .currency {
            font-size: 1.2rem;
            margin-left: 12px;
            margin-right: 2px;
        }

        .transCategory {
            display: flex;
            align-items: center;
            gap: 12px;  
            justify-content: flex-end;
            text-align: right;
        }

        .transWallet {
            display: flex;
            align-items: center;
            gap: 8px;  
        }

        .transDate {

        }

        .transNote {
            white-space: nowrap; 
            overflow: hidden;  
            text-overflow: ellipsis;
            max-width: 100%; 
            display: flex;
            align-items: center;
            gap: 12px;  
        }

        .transImage {

        }

    }
}


// Receipt Form
.addTransaction {
    width: var(--addTransaction-width);
    height: 620px; 
    width: 320px;
    background-color: white;
    border-radius: 2px;
    padding: 24px 32px;
    margin-right: 24px;
    position: sticky;
    top: var(--header-height); 
    z-index: 100;
}

.plusMinusContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;

    .plusBtn,
    .minusBtn {
        font-size: 2.8rem;
        color: rgba(0,0,0,0.2);
        cursor: pointer;

        &:hover {
           opacity: .8;
        }
    }

    .plusBtn {
        &.active {
            color: var(--color-green);
        }
    }

    .minusBtn {
        &.active {
            color: var(--color-red);
        }
    }
}  

.formLabel {
    font-size: 1rem;
    font-weight: 200;
}

.addTransactionBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;

    .addTransactionSubmit {
        width: 80px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}