.formHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 8px 0;
    border-bottom: 1px solid var(--pale-color);

    .transferIcon {
        font-size: 1.2rem;
    }
}

.formSection {
    margin-top: 16px;
    margin-bottom: 30px;
    padding: 0 30px;
}

.formContent {
    padding: 0 28px;
}

